/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 7, ../sass/scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, ../sass/scss/_reset.scss */
body {
  line-height: 1;
}

/* line 35, ../sass/scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 38, ../sass/scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, ../sass/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./../fonts/NotoSansJP-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: bold;
  font-weight: 700;
  src: local(""), url("./../fonts/noto-sans-jp-v42-japanese-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: 'Noto Serif JP';
  font-style: medium;
  font-weight: 500;
  src: local(""), url("./../fonts/noto-sans-jp-v42-japanese-500.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: 'Noto Serif JP';
  font-style: semi-bold;
  font-weight: 600;
  src: local(""), url("./../fonts/noto-sans-jp-v42-japanese-600.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: 'Noto Serif JP';
  font-style: bold;
  font-weight: 700;
  src: local(""), url("./../fonts/noto-sans-jp-v42-japanese-700.woff2") format("woff2");
  font-display: swap;
}
/* line 53, ../sass/scss/_base.scss */
html {
  font-size: 62.5%;
}

/* line 57, ../sass/scss/_base.scss */
body {
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: 400;
  color: #595757;
}

/* line 62, ../sass/scss/_base.scss */
a {
  text-decoration: none;
  color: currentColor;
}

/* line 67, ../sass/scss/_base.scss */
.container-p10 {
  max-width: 575px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* line 75, ../sass/scss/_base.scss */
.container-p20 {
  max-width: 575px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* line 83, ../sass/scss/_base.scss */
.container-p34 {
  max-width: 575px;
  padding-left: 34px;
  padding-right: 34px;
  margin-left: auto;
  margin-right: auto;
}

/* line 1, ../sass/scss/_header.scss */
.header {
  position: relative;
  height: 48px;
}
/* line 5, ../sass/scss/_header.scss */
.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: -1;
}
